* {
  box-sizing: border-box;
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
  background-color: #004c9a;
  font-family: monospace;
  color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  font-size: 1.6rem;
  margin: 25px;
  background-color: white;
  cursor: pointer;
  border-radius: 20px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

script {
  color: white;
}

div p {
  display: block;
  font-size: 1em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

a {
  font-size: 0.6em;
  cursor: pointer;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: white;
  border-style: groove;
}

footer {
  align-content: center;
  padding: 10px;
  color: #004c9a;
  line-height: auto;
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: auto auto;
  background-color: white;
}

.cliques {
  margin: 25px;
  font-size: 2rem;
}

#texto {
  display: flex;
  justify-content: center;
}

#demo {
  display: flex;
  justify-content: center;
  font-size: 35px;
}

#img {
  display: flex;
  justify-content: center;
}

#button {
  display: flex;
  justify-content: center;
}

#cliqueaqui {
  display: flex;
  justify-content: center;
}

#recomece {
  display: flex;
  justify-content: center;
}

#rodapé {
  display: flex;
  justify-content: center;
  text-align: center;
}
